
@import "./mixins.scss";
@import "./variables.scss";

.app-button{
    @include default-element();
    padding: 10px;
    margin: 8px;
    border: 1px solid $var-color-lite;
    color: $var-color-lite;
    background-color: white;
    border-radius: 8px;  
}

.app-dropdown{
    position: relative;
    display: inline-block;
}
    .app-dropdown-content{
        display: none;
        position: absolute;
        min-width: 6em;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 0.5em;
        z-index: 1;
    }
    .app-dropdown-content-visible{
        display: block;
    }

@mixin app-horizontal-container() {
    display: flex;
}

.app-horizontal-container{
    @include app-horizontal-container();
}

@mixin app-horizontal-left() {
    margin-right: auto;
    justify-content: flex-start;
}
.app-horizontal-left{
    @include app-horizontal-left();
}

@mixin app-horizontal-right {
    margin-left: auto;
    justify-content: flex-end;
}
.app-horizontal-right{
    @include app-horizontal-right();
}

.app-link{
    display: block;
    text-decoration: none;
}

@mixin app-list-item {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: auto;
}

.app-list-item{
    @include app-list-item();
}

@mixin app-list{
    list-style: none; 
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content:space-between;
    li{
        @include app-list-item();
        padding: 8px;
    }
}
.app-list{
    @include app-list();
}

@mixin app-list-horizontal{
    @include app-list();
    flex-direction: row;
}
.app-list-horizontal{
    @include app-list-horizontal();
}

@mixin app-border-bottom {
    @include border('bottom', 1px, solid, $var-color-lightbase)
}
@mixin app-border-top {
    @include border('top', 1px, solid, $var-color-lightbase)
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-label{
    font-size: $var-font-size-small;
    color: $var-color-lightbase;
    font-weight: 350;
}

.app-width-full{
    width: 100%;
}

.app-margin-bottom-8{
    margin-bottom: 8px;
}

.app-center{
    @include center();
}

.app-text-center{
    text-align: center;
}

.app-center-margins-auto{
    margin:auto;
}

.app-text-justify{
    text-align: justify;
}