
@import "./variables.scss";
@import "./common.scss";
@import "./mixins.scss";

html, body {
  min-height: 92vh;
}

body {
  @include default-element();
  margin: auto;
  font-family: 'serif';
  max-width: $var-window-width-large;
  padding: 20px;
}

h1 {
  @include default-element();
  font-size: $var-font-size-xlarge !important;
  color: $var-color-accent;
}
h2{
  @include default-element();
  font-size: $var-font-size-large;
}

a {
  color: $var-color-lite;
}

input{
  @include default-element();
  padding: 10px;
  margin: 8px;
  border: 1px solid $var-color-base;
}

button{
  @extend .app-button;
}