
@import "./variables.scss";

@mixin default-element {
    font-size: $var-font-size-default;
    color: $var-color-base;
    background-color: white;
    font-weight: 400;
    font-family: serif;
}

// @mixin on-screen($small, $medium, $large) {
//     @media screen and (min-width: $var-window-width-large) {
//         $small
//     }
// }

@mixin on-screen-large {
    @media screen and (min-width: $var-window-width-large) {
        @content;
    }
}
@mixin on-screen-medium {
    @media screen and (min-width: $var-window-width-small) and (max-width: $var-window-width-large) {
        @content;
    }
}
@mixin on-screen-small {
    @media screen and (max-width: $var-window-width-small) {
        @content;
    }
}

@mixin border($direction, $width, $style: solid, $color: transparent) {
    border-#{$direction}: $width $style $color;
}

@mixin margin($positions-values) { // $positions-values: 8px; $positions-values: ("top":8px, "bottom": 5px)
    @if type-of($positions-values) == "map" {
        @each $position, $value in $positions-values {
            margin-#{$position}: $value; 
        }
    } @else{
        margin: $positions-values;
    }
}

@mixin padding($positions-values) { // $positions-values: 8px; $positions-values: ("top":8px, "bottom": 5px)
    @if type-of($positions-values) == "map" {
        @each $position, $value in $positions-values {
            padding-#{$position}: $value; 
        }
    } @else{
        padding: $positions-values;
    }
}
