
$var-window-width-small: 500px;
$var-window-width-medium: 800px;
$var-window-width-large: 1200px;

$var-color-accent: #A41623;
$var-color-base: #412234;
$var-color-lightbase: #968a91;
$var-color-lightlite: #DAFFEF;
$var-color-lite: #008d10;

$var-font-size-small: 0.9em;
$var-font-size-default: 1.1em;
$var-font-size-large: 1.3em;
$var-font-size-xlarge: 1.6em;