{{ define "main" }}
    <div class="index-content">
        {{.Content}}
    </div>
    <div class="index-articles-container">

    </div>
    {{ range where site.RegularPages "Type" "articles" }}
        <div class="index-article">
            <div class="index-article-title">
                {{ .Title }}
            </div>
            <div class="index-article-content">
                {{ .Content }}
            </div>
        </div>        
    {{ end }}
{{ end }}