
@import "../variables.scss";
@import "../mixins.scss";
@import "../common.scss";

.app-layout-header{
    width: 100%;
    display: flex;
    padding: 0px;
    @include center();
}

.app-layout-header-title{
    text-align: left;
    vertical-align: middle;
    color: $var-color-accent;
    margin-right: auto;
    justify-content: flex-start;
    font-size: 1.8em;
}

.app-layout-header-language{
    position: relative;
    font-size: small;
    margin-left: auto;
    justify-content: flex-end;
}
.app-layout-header-language-button{
    color: $var-color-lightbase;
    text-align: right;
}
.app-layout-header-language-list{
    @extend .app-dropdown-content;
}
    // Open on hover on desktop or on click on mobile
    .app-layout-header-language:hover > .app-layout-header-language-list,
    .app-layout-header-language-button:active + .app-layout-header-language-list{
        @extend .app-dropdown-content-visible;
    }

.app-navigation-menu{
    @include on-screen-large(){
        @include app-list-horizontal();
    };
    @include on-screen-medium(){
        @include app-list-horizontal();
    };
    @include on-screen-small(){
        @include app-list();
    };
    @include app-border-bottom();
}

.app-navigation-item{
    @extend .app-link;
    padding: 15px;
}
