
@import "../variables.scss";

.app-content-taxonomies{
    border-collapse: collapse;
    & tr { 
        padding: 4px;
        border-bottom: 1px solid $var-color-lightbase; 
    }
    & tr:last-child{
        border: none;
    }
    & td{
        padding-top: 4px;
        padding-bottom: 4px;
    }
}