
@import "../common.scss";
@import "../mixins.scss";

.places-title{
    text-align: center;
}

.places-filter{
    @include center();
    @include on-screen-small{
        @include center();
        flex-direction: column;
    }
}

.places-index-content{
    @include center();
}

#places-container{
    & > *{
        @include border("bottom", 1px, solid, $var-color-lightbase);
        @include margin(("bottom":16px));
        @include padding(("bottom":16px));
    }
}

.places-item{
    @include on-screen-large{
        @include app-horizontal-container();
    }
}

.places-item-about{
    @include on-screen-large{
        @include app-horizontal-left();
    }
}

.places-openplace{
    @include margin(0px);
    @include padding(6px);
    @extend .app-button;
    text-decoration: none;
}

.places-item-identyfication{
    @include on-screen-large{
        @include app-horizontal-right();
    }
    display: flex;
    align-items: center;
    & table{
        border-spacing: 10px;
    }
}

.places-item-hidden{
    display: none;
}
