{{ $dict := .dict }}
{{ $region := .region }}
{{ $categories := .categories }}
{{ $tags := .tags }}
{{ $areInteractive := .areInteractive }}

<table class="app-content-taxonomies">
    {{ if $region }}
        <tr><td>{{partial "label.html" (dict "text" $dict.region)}}</td><td>{{partial "taxonomies.html" (dict "areInteractive" $areInteractive "collection" $region)}}</td></tr>
    {{ end }}
    <tr><td>{{partial "label.html" (dict "text" $dict.categories)}}</td><td>{{partial "taxonomies.html" (dict "areInteractive" $areInteractive "collection" $categories)}}</td></tr>
    <tr><td>{{partial "label.html" (dict "text" $dict.tags)}}</td><td>{{partial "taxonomies.html" (dict "areInteractive" $areInteractive "collection" $tags)}}</td></tr>
</table>
