
{{ $data := .collection }}
{{ $areInteractive := .areInteractive }}

<div class="app-taxonomies-list">
    {{ range $data }}
        {{ if eq $areInteractive true }}
            <button class="app-taxonomy" onclick="addKeywordToSearch({{ . }})">{{ . }}</button>
        {{ else }}
        <button class="app-taxonomy">{{ . }}</button>
        {{ end }}
    {{ end }}
</div>
