

.index-content{
    margin-bottom: 32px;
}

.index-articles-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index-article{
    padding: 16px;
    text-align: center;
}

.index-article-title{
    font-size: larger;
}

.index-article-content{
    font-size: medium;
}